* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Courier, monospace;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1F2937;
    padding: 24px 96px;
}

.header {
    display: flex;
    color: whitesmoke;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    width: 100px;
    height: auto;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 72px;
    gap: 60px;
}

.content-image {
    width: 600px;
    height: auto;
}

.butn {
    font-size: 16px;
    text-decoration: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 25px;
    background-color: #2196f3;
}

.title {
    font-size: 36px;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 16px;
}

.two {
    margin: 48px;
}

.two-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    margin: 48px;
}

.img {
    width: 256px;
    height:256px;
}

.image-line {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.img-line-content {
    width: 256px;
}

.three {
    margin-top: 48px;
    background-color: #D3D3D3;
    padding: 100px 160px;
}

.quote {
    font-size: 32px;
    font-weight: 500;
}

.author {
    font-size: 24px;
    text-align: right;
}

.four {
    padding: 96px 64px;
    margin: 20px 0;
}

.action-call{
    background-color: #2196f3;
    display: flex;
    padding: 32px 52px;
    border-radius: 6px;
    justify-content: space-between;
}

.signup {
    display: flex;
    align-items: center;
}

.action-text {
    color: white;
}

.action-title {
    font-size: 28px;
    font-weight: 600;
}

.signup a {
    text-decoration: none;
    color: white;
    background-color: #2196f3;
    padding: 10px 16px;
    border-radius: 25px;
    border: 3px solid white;
}

.footer {
    background-color: #000435;
    color: white;
    display: flex;
    justify-content: center;
    padding: 35px;
}